$nav-bg-color: rgba(33, 37, 41, 1);
// $nav-bg-opacity: 1;
$header-get-started-color: #0d6efd;
$header-learn-more-color: $nav-bg-color;
$header-get-started-hover-color: #ffffff;
$header-learn-more-hover-color: #000000;
$nav-logo-color: white;
$nav-links-color: rgba(255, 255, 255, 0.55);
$body-font-family: system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
