#footer{
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: $nav-bg-color;
    
}
// #footer p,a{
//     color: white;
// }
#footer__copyright_box{
    p{
        color: white;
    }
}
#footer__ul{
    gap:10px;
    li{
        a{
            color: white;
        }
    }
}
@media screen and (max-width: 576px) {
    #footer{
        flex-direction: column;
        gap: 20px;
    }
}